.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 2px solid #D9BE83;
  border-radius: 25px;
  padding: 0px 25px;
  height: 590px;
  position: relative;

  form {
    width: 330px;
  }

  h2 {
    color:#D9BE83;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }

}

#__react-alert__ div div div {
  width: auto !important;
}